@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header.b-header {
    background-color: #00aeff;
}

header.b-header .nav-pills li a:hover {
    //color: #00aeff;
    //background-color: #ffffff;
    background-color: #00aeff;
    color: #ffffff;
}

.custom-footer {
  background-color: #00aeff !important;
}

.custom-footer .third-box .small-link {
    color: #fff !important;
}

.custom-footer .first-box .blurb {
    color: #fff !important;
}

.custom-footer .footer-section-link-wrapper a {
    color: #fff !important;
}

.b-header nav.links {
    float:right;
}

.topic-list-item.visited a.title:not(.badge-notification), .latest-topic-list-item.visited a.title:not(.badge-notification), .category-topic-link.visited a.title:not(.badge-notification) {
    color: #222 ;
}

.topic-list-main-link, .topic-list .main-link, .latest-topic-list-item .main-link {
    font-size: 1.2em;
}

div.not-found div.row {
    visibility: hidden;
}

.d-header #site-logo {
    height: 4em;
}